html
    head
        title=title
        link(href="/styles/bootstrap.css",typ="text/css",rel="stylesheet")
    body
        nav
            span="Greetings!"
        div(id="contentDiv")
            block content